<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ReportMapper">

    <select id="getEmpJobData" resultType="java.util.Map">
        select
            (case
                 when job = 1 then '班主任'
                 when job = 2 then '讲师'
                 when job = 3 then '学工主管'
                 when job = 4 then '教研主管'
                 when job = 5 then '咨询师'
                 else '其他'
                end) pos,
            count(*) num
        from emp
        group by job
        order by num
    </select>

    <select id="getEmpGenderData" resultType="java.util.Map">
        select case
                   when gender = 1 then '男性员工'
                   when gender = 2 then '女性员工'
                   end  name,
               count(*) value
        from emp
        GROUP BY gender
    </select>

     <!--统计班级人数-->
    <select id="getStudentCountData" resultType="java.util.Map">
        select c.name clazzName,count(*) num from student s left join clazz c on s.clazz_id = c.id
        group by s.clazz_id
    </select>

    <!--统计学生学历信息-->
    <select id="getStudentDegreeData" resultType="java.util.Map">
        select case
                   when degree = 1 then '初中'
                   when degree = 2 then '高中'
                   when degree = 3 then '大专'
                   when degree = 4 then '本科'
                   when degree = 5 then '硕士'
                   when degree = 6 then '博士'
            end name
             ,count(*) value from student group by degree
    </select>
</mapper>